{% extends 'base.html' %}


{% block head_chart_stufF %}

<script src ="../static/chartjs/node_modules/chart.js/dist/chart.js"> </script>
{% endblock %}


{% block title %}
 {{ sym }}
{% endblock %}


{% block content %}
<div class = "clearfix">
<div  class="container float-left">
    <div class = "row">
    <div class = "col-sm-9">
    <div class = "row">
        <div class = "col-sm-6">
            <table class = "table table-dark table-striped">
                <thead>
                    <th> Date</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {% if len(result_dict['date']) >=4 %}
                    {% set start = len(result_dict['date'])-1 %}
                    {% set end = len(result_dict['date'])-5 %}
                    {% else %}
                    {% set start = len(result_dict['date'])-1 %}
                    {% set end = len(result_dict['date'])-1 -(len(result_dict['date'])) %}
                    {% endif %}
                    {% for x in range(start,end,-1) %}
                    <tr>
                        <td>
                           {{ result_dict['date'][x] }}
                        </td>
                        <td>
                            {{ result_dict['adj_close'][x] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        <div class = "row">
            <div class = "col-sm-7">
                <canvas id="ticker_chart_canvas" width="700" height="400"></canvas>
            </div>
        </div>
            <div class = "row">
                <div class = "col-sm-8">
                    <div>
                    <table   data-toggle="table"
                             data-height="460"
                             data-pagination="true"
                             data-show-fullscreen="true"
                             data-show-columns="true"
                             class = "table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Operating Income</th>
                                <th scope="col">Q Change</th>
                                <th scope="col">Y Change</th>
                                <th scope="col">Net Income</th>
                                <th scope="col">Q Change</th>
                                <th scope="col">Y Change</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for (a,b,c,d,e,f,g) in zip(cf_dict_short['fiscalDateEnding'],cf_dict_short['operatingCashflow'],cf_dict_short['operatingCashflow_change'],cf_dict_short['operatingCashflow_change_year'],cf_dict_short['netIncome'],cf_dict_short['netIncome_change'],cf_dict_short['netIncome_change_year']) %}
                                <tr>
                                    <th scope = "row" class = "nowrap_td"> {{ a.strftime('%Y-%m-%d') }} </th>
                                    <td> {{ '${0:,.0f}'.format(b) }} </td>
                                    <td> {{ '{:.2%}'.format(c) }} </td>
                                    <td> {{ '{:.2%}'.format(d) }} </td>
                                    <td> {{ '${0:,.0f}'.format(e) }} </td>
                                    <td> {{ '{:.2%}'.format(f) }} </td>
                                    <td> {{ '{:.2%}'.format(g) }} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
    </div>
        <div class = "col-3">
            <table class = "table table-dark"
                    data-height="500"
                    data-show-fullscreen="true"
                    data-show-header="false"
                    data-toggle="table">
                <thead>
                <tr>
                    <th>col1</th>
                    <th>col2</th>
                </tr>
                </thead>
                <tbody>
                    {% for a in quote %}
                    <tr>
                        <td>
                            {{ a }}
                        </td>
                        <td>
                            {{ quote[a]  }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
    </div>
    </div>
    </div>
</div>
<script>

 var ticker_chartData = {
          labels : [{% for item in result_dict['date'] %}
                     "{{item}}",
                    {% endfor %}],
          datasets : [{
              label: "{{ sym  }}",
              fill: true,
              lineTension: 0.1,
              backgroundColor: "green",
              borderColor: "rgba(75,192,192,1)",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data : [{% for item in result_dict['adj_close'] %}
                        {{item}},
                      {% endfor %}],
              spanGaps: false
          }]
        }

        // get chart canvas
        var ticker_ctx = document.getElementById("ticker_chart_canvas").getContext("2d");
        // create the chart using the chart canvas
        var ticker_Chart = new Chart(ticker_ctx, {
          type: 'line',
          data: ticker_chartData,
        });

</script>



{% endblock %}